@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin:0;
    padding:0;
    border:0;
}

body {

    background:#696969 ;
    font-family: "Exo", sans-serif;
    overflow: auto;
    height: 100vh;
    overflow-x: hidden;
   
}

/*---------------------------------------------------------Navigation bar-------*/

.navbar-brand {
         font-family: "Exo", sans-serif;
         font-weight: 500;
         font-size:30px;
     }

.navbar .navbar-brand:hover {
    color:#e30134;    
}

.navbar-toggler-icon:hover {
     color:#e30134;
}

.nav-link:hover{
         
         border-bottom: 2px solid #e30134 !important
     }


/*------------------------------------------------------------------------------Header*/

.header > div {
    color: #fff;
    background-image: url(../images/piano.jpg);
    padding: 120px 0;
    text-align: center;
    max-width: 100%;
    background-size: cover;
    height: 100vh;

}

.opaque-overlay {

position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
background-color: rgba(0,0,0,0.5);
    }


.header-title {
    font-size: 50px;
    padding-top: 30px;
    
}




.header-text p {
    margin-top: 10px;
}



/*--------------------------------------------------------------Buttons*/

.btn-danger a {
    color:white;
}

.btn-danger {
    border-radius: 10px;
    margin-top: 25px;
}